 h1{
    text-align: center;
    font-size: 50px ;
    color: rgb(15, 2, 15);
}
body {
    background-image: url(img11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 .class a {
    font-size: medium;
    float: left;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 20px;
    float: left;
    color: blue;
    
}
nav {
    font-size: 30px;
}
nav a:hover {
    color: rgb(71, 255, 111);
}
form {
    float: right;
    border-right: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 0, 55);
    margin: 15px 30px;
    font-size: 20px;
    padding: 10px 120px 15px 20px;
    border: 2px solid;
    border-color: black;
    border-radius: 16px;
    margin-right: 20pxS;
    color: black;
}
h2 {
    text-align: center;
}
fieldset {
    border-color: cornsilk;
}
input[type="submit"] {
    margin-right: 5p;
    background-color: greenyellow;
    border-radius: 2px;
}

input[type="reset"] {
    margin-left: 22px;
    background-color: rgb(105, 195, 255);
    border-radius: 2px;
}
input[type="text"],
input[type="password"],
select,
input[type="email"] {
    text-decoration-color: black;
    border-radius: 2px;

}
input[type="gender"] {
    border-color:rgb(255, 0, 55); ;
}
    




